.user-menu-wrapper {

}

.user-menu {
    margin-top: 40px;
    margin-left: -30px;
    position: absolute;
    width: 100px;
    background: #ffffff;
    border: #818181 1px solid;
    border-radius: 4px;
    padding: 4px 2px;
}

.menu-link {
    font-size: 14px;
    padding: 2px 4px;
    margin-left: 4px;
}
