.card-button {
    flex-direction: row;
    margin-right: 10px;
    border-radius: 4px;
    padding: 4px;
    transition-duration: 200ms;
    font-size: 10px;
    align-items: center;
}

.card-button-image {
    width: 20px;
    height: 20px;
    background: url("./cart.png");
    background-size: cover;
}

.card-button:hover {
    background-color: rgba(0, 0, 0, 0.1);
}
