.expand-button {
    flex-direction: row;
    margin-left: auto;
    align-items: center;
    border-radius: 4px;
    padding: 4px;
    transition-duration: 500ms;
}

.expand-button:hover {
    background: rgba(0,0,0, 0.1);
}

.user-icon-wrapper {
    width: 30px;
    height: 30px;
}

.expand-down-image {
    width: 10px;
    height: 10px;
    background: url("./down-image.png");
    background-size: cover;
    margin: 4px;
}

