.search {
    flex-grow: 1;
    border: #a6a6a6 1px solid;
    border-radius: 15px;
    height: 26px;
    margin: 0 20px;
}

.search-icon {

}

.search-input {
    flex-grow: 1;
    background: none;
    border: none;
    user-select: none;
    outline: none;
    margin: 0 8px;
    color: #818181;
}
